.text {
  text-align: justify;
  font-size: 1.5vh;
  font-family: 'Arial';
  font-weight: bold;
}

.textL {
  text-align: left;
  font-size: 1.5vh;
  font-family: 'Arial';
  font-weight: bold;
}

.textcont {
  position: relative;
  left: 20%;
  width: 60%;
  align-content: center;
}

.textsmall {
  text-align: Center;
  font-size: 1.5vh;
  font-family: 'Arial';
}

.list {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 5%;
grid-row-gap: 10px;
text-align: left;
}

.list1 { grid-area: 1 / 2 / 2 / 3; }

.list2 { grid-area: 1 / 1 / 2 / 2; } 
